* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #121212e8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

main {
    margin: auto;
    margin-top: 2em;
    width: 90%;
    line-height: 1.5em;
}

p,
a,
h1,
h2,
nav {
    color: white;
    padding: 1px;
}

nav {
    scale: 1.4;
    margin-right: 15px;
}

hr {
    border: 1px solid whitesmoke;
    margin-left: initial;
    margin-right: initial;
}

a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: gray;
}

footer {
    text-align: center;
    line-height: 0.9em;
    margin-bottom: 1em;
}

#teal {
    color: rgb(16, 214, 214);
}

#image {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    margin-top: 3em;
}

@media all and (max-width: 760px) {
    #image {
        scale: 0.5;
    }
}